<form [formGroup]="myForm">
  <div class="grid" class="person-form-cls">
    <div class="col-12">
      <div class="card">
        <div *ngIf="resetGoalsForm || resetGoalsForm == undefined">
          <h5>Add new Goals</h5>
        </div>
        <div *ngIf="resetGoalsForm == true">
          <h5>Edit Goals</h5>
        </div>
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-4">
            <!-- <label for="budget">Budget</label>
            <p-inputNumber formControlName="budget" inputId="currency-us" mode="currency" currency="USD" locale="en-US">
              </p-inputNumber> -->
          
                <label for="horizontal">Budget</label>
                <p-inputNumber formControlName="budget"  [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="10"
                decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" mode="currency" currency="USD">
                </p-inputNumber>
         
          </div>
          <div class="field col-12 md:col-4">
            <label for="expectations">Expectations</label>
            <input pInputText class="my-input" formControlName="expectations" required="true" id="expectations"
              #expectationsInput [placeholder]="
                  (myForm.get('expectations')?.hasError('required') &&
                    expectationsInput.value === '') ||
                  (!myForm.controls['expectations'].pristine &&
                    myForm.controls['expectations'].touched)
                    ? '* Field is required'
                    : ''
                " type="text" />
          </div>
          <div class="field col-12 md:col-4">
            <label for="personalInformation">Personal Information</label>
            <p-dropdown [options]="listOfPersonInformations" [showClear]="true" appendTo="body" [filter]="true"
              appendTo="body" placeholder="Select Personal Information" formControlName="parent"
              optionLabel="displayedField"></p-dropdown>
          </div>
          <div class="field col-12 md:col-4">
            <label for="outcome">Outcome</label>
            <input pInputTextarea formControlName="outcome" class="my-input" id="budget" #budgetInput rows="4" />
          </div>

          <div class="field col-4 md:col-4 lg:col-4">
            <label for="dateDataEntry">Date Data Entry</label>
            <p-calendar formControlName="dateDataEntry" [showIcon]="true" dateFormat="dd/mm/yy" [showTime]="false"
              inputId="icon" appendTo="body" (onSelect)="onSelectDate()" [showClear]="true" #dateDataEntryInput
              [placeholder]="
                  (myForm.get('dateDataEntry')?.hasError('required') &&
                    dateDataEntryInput.value === '') ||
                  (!myForm.controls['dateDataEntry'].pristine &&
                    myForm.controls['dateDataEntry'].touched)
                    ? '* Field is required'
                    : ''
                "></p-calendar>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showButtons" class="footer-form-cls">
      <div style="margin-right: 2%" *ngIf="formGoals == undefined">
        <button (click)="doSaveCreateScreenNew()" pButton class="p-button-success" type="submit" icon="pi pi-check"
          iconPos="left" [disabled]="!myForm.valid" label="Save"></button>
      </div>
      <div style="margin-right: 2%" *ngIf="formGoals != undefined">
        <button (click)="doSave()" pButton class="p-button-success" type="submit" icon="pi pi-check" iconPos="left"
          [disabled]="!myForm.valid" label="Save"></button>
      </div>
      <div>
        <button pButton class="p-button-danger" icon="pi pi-times" type="reset" label="Reset"></button>
      </div>
    </div>
  </div>
</form>

<p-toast position="bottom-right"></p-toast>