<form [formGroup]="myForm">
  <div class="grid" class="person-form-cls">
    <div class="col-12">
      <div class="card">
        <div *ngIf="!showEditTitle">
          <h5>Add new Personal Information</h5>
        </div>
        <div
          *ngIf="showEditTitle">
          <h5>Edit Personal Information</h5>
        </div>
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-6">
            <label for="firstname">Firstname</label>
            <input
              pInputText
              formControlName="firstname"
              required="true"
              class="my-input"
              #firstnameInput
              id="firstname"
              type="text"
              [placeholder]="
                (myForm.get('firstname')?.hasError('required') &&
                  firstnameInput.value === '') ||
                (!myForm.controls['firstname'].pristine &&
                  myForm.controls['firstname'].touched)
                  ? '* Field is required'
                  : ''
              "
            />
          </div>
          <div class="field col-12 md:col-6">
            <label for="lastname">Lastname</label>
            <input
              pInputText
              class="my-input"
              formControlName="lastname"
              required="true"
              id="lastname"
              #lastNameInput
              type="text"
              [placeholder]="
                (myForm.get('lastname')?.hasError('required') &&
                  lastNameInput.value === '') ||
                (!myForm.controls['lastname'].pristine &&
                  myForm.controls['lastname'].touched)
                  ? '* Field is required'
                  : ''
              "
            />
          </div>
          <div class="field col-12 md:col-4">
            <label html for="address">Address</label>
            <input
              pInputTextarea
              formControlName="address"
              required="true"
              class="my-input"
              id="address"
              #addressInput
              rows="4"
              [placeholder]="
                (myForm.get('address')?.hasError('required') &&
                  addressInput.value === '') ||
                (!myForm.controls['address'].pristine &&
                  myForm.controls['address'].touched)
                  ? '* Field is required'
                  : ''
              "
            />
          </div>
          <div class="field col-12 md:col-4">
            <label for="phoneNumber">Phone Number</label>
            <p-inputMask
              mask="(999) 999-999-9999"
              #phoneNumber
              id="phoneNumber"
              [showClear]="true"
              formControlName="phoneNumber"
              placeholder="(999) 999-999-9999"
            ></p-inputMask>
            <!-- <p-inputNumber
              #phoneNumber
              id="phoneNumber"
              [placeholder]="
                (myForm.get('phoneNumber')?.hasError('required') &&
                  phoneNumber.value === null) ||
                (!myForm.controls['phoneNumber'].pristine &&
                  myForm.controls['phoneNumber'].touched)
                  ? '* Field is required'
                  : ''
              "
              formControlName="phoneNumber"
              mode="decimal"
            ></p-inputNumber> -->
          </div>
          <div class="field col-12 md:col-4">
            <label html for="age">Age</label>
            <p-inputNumber
              #ageInput
              id="age"
              class="my-input"
              [showClear]="true"
              [placeholder]="
                (myForm.get('age')?.hasError('required') &&
                  ageInput.value === null) ||
                (!myForm.controls['age'].pristine &&
                  myForm.controls['age'].touched)
                  ? '* Field is required'
                  : ''
              "
              formControlName="age"
              mode="decimal"
            ></p-inputNumber>
          </div>
          <div class="field col-12 md:col-4">
            <label for="email">Email</label>
            <input
              #email
              class="my-input"
              [placeholder]="
                (myForm.get('phoneNumber')?.hasError('required') &&
                  email.value === '') ||
                (!myForm.controls['email'].pristine &&
                  myForm.controls['email'].touched)
                  ? '* Field is required and should be unique'
                  : ''
              "
              pInputText
              formControlName="email"
              id="email"
              type="email"
            />
          </div>
          <div class="field col-12 md:col-12">
            <p-fieldset
              legend="Medical History"
              [collapsed]="true"
              [toggleable]="true"
            >
              <div formArrayName="medicalHistoryList">
                <div style="display: flex; flex-direction: row-reverse">
                  <p-button
                    icon="pi pi-plus"
                    pTooltip="Add Medical History Node"
                    tooltipPosition="left"
                    (click)="addMedicalHistory()"
                  ></p-button>
                </div>
                <div
                  *ngFor="
                    let medical of medicalHistoryGroupArray.controls;
                    let i = index
                  "
                >
                  <div [formGroupName]="i" style="margin-top: 12px" key="id">
                    <p-fieldset
                      legend="Medical History Node"
                      [collapsed]="false"
                      [toggleable]="true"
                    >
                      <div class="trash-btn">
                        <button
                          pButton
                          icon="pi pi-trash"
                          type="button"
                          class="p-button-danger"
                          pTooltip="Delete Medical History Node"
                          tooltipPosition="left"
                          (click)="removeMedicalHistory(i)"
                        ></button>
                      </div>
                      <div style="display: flex; flex-wrap: wrap">
                        <div class="field col-4 md:col-4 lg:col-4">
                          <label for="preExistingConditions"
                            >Pre-existing Conditions</label
                          >
                          <input
                            pInputText
                            id="preExistingConditions"
                            formControlName="preExistingConditions"
                            required="true"
                            class="my-input"
                            #PreexistingConditionsInput
                            type="text"
                          />
                        </div>

                        <div class="field col-4 md:col-4 lg:col-4">
                          <label for="currentMedications"
                            >Current Medications</label
                          >
                          <input
                            pInputText
                            id="currentMedications"
                            formControlName="currentMedications"
                            required="true"
                            class="my-input"
                            #currentMedicationsInput
                            type="text"
                          />
                        </div>

                        <div class="field col-4 md:col-4 lg:col-4">
                          <label for="allergies">Allergies</label>
                          <input
                            pInputText
                            formControlName="allergies"
                            required="true"
                            class="my-input"
                            id="allergies"
                            #allergiesInput
                            type="text"
                          />
                        </div>

                        <div class="field col-4 md:col-4 lg:col-4">
                          <label for="previousTransplants"
                            >Previous Transplants</label
                          >
                          <input
                            pInputText
                            id="previousTransplants"
                            formControlName="previousTransplants"
                            required="true"
                            class="my-input"
                            id="previousTransplants"
                            #previousTransplantsInput
                            type="text"
                          />
                        </div>

                        <div class="field col-4 md:col-4 lg:col-4">
                          <label for="dateDataEntry">Date Data Entry</label>
                          <p-calendar
                            formControlName="dateDataEntry"
                            [showIcon]="true"
                            dateFormat="dd/mm/yy"
                            inputId="icon"
                          ></p-calendar>
                        </div>
                      </div>
                    </p-fieldset>
                  </div>
                </div>
              </div>
            </p-fieldset>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showButtons" class="footer-form-cls">
      <div style="margin-right: 2%" *ngIf="formPerson == undefined">
        <button
          (click)="doSaveCreateScreen()"
          pButton
          class="p-button-success"
          type="submit"
          icon="pi pi-check"
          iconPos="left"
          [disabled]="!myForm.valid"
          label="Save"
        ></button>
      </div>
      <div style="margin-right: 2%" *ngIf="formPerson != undefined">
        <button
          (click)="doSave()"
          pButton
          class="p-button-success"
          type="submit"
          icon="pi pi-check"
          iconPos="left"
          [disabled]="!myForm.valid"
          label="Save"
        ></button>
      </div>
      <div>
        <button
          pButton
          class="p-button-danger"
          icon="pi pi-times"
          type="reset"
          label="Reset"
        ></button>
      </div>
    </div>
  </div>
</form>

<p-toast position="bottom-right"></p-toast>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
