::ng-deep .p-dialog .p-dialog-footer{
    display: flex !important;
    flex-direction: row-reverse !important;
}
::ng-deep .p-datatable .p-datatable-tbody > tr > td{
    text-align: left;
    border: 1px solid #dee2e6;
    border-width: 0 0 1px 0;
    padding: 1rem 1rem;
    max-width: 147px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}